.meal-flex {
  display: flex;
  flex-wrap: wrap;
  padding-left: 80px;
}
.meal-flex .one-item-card {
  min-width: 300px;
}

.meal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 150px;
  row-gap: 10px;
}

@media (max-width: 500px) {
  .meal-flex {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
}

.meal-button-group-flex {
  display: flex;
  width: 180px;
  background-color: black;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 20px;

  padding: 20px 20px;
  border-radius: 10px;
}
.meal-button-selected {
  background-color: coral;
}

.today-flex {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 30px;
  flex-direction: column;
  width: 400px;
  height: 275px;
  margin: 10px 20px;
  border-radius: 20px;
}
.today-flex p {
  font-size: 20px;
  margin-bottom: 1px;
  padding: 0;
}
.today-flex h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.today-flex h4 {
  margin: 0;
  padding: 0;
}
.totals {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 330px;
  height: 200px;
  padding: 10px 30px;
  justify-content: center;
  margin-left: 20px;
  border-radius: 15px;
  /* align-items: center; */
}
.totals h2 {
  margin: 0;
}
.totals h4 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: lighter;
}
.null-message {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 250px;
  align-items: center;
}

.meal-button-crud {
  padding-right: 15px;
}
.crud-flex-container {
  /* display: flex; */
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 15px;
  padding-right: 0px;
  border-radius: 25px;
}

/* Meal Add Page */
.meal-option-flex-container {
  display: flex;
  width: fit-content;
  background-color: black;
  border-radius: 20px;
  margin-left: 15px;
}
.meal-option {
  height: 60 px;
  width: 100 px;
  margin: 15px;
}
.currently-selected-meal-div {
  background-color: black;
  color: white;
  display: flex;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  border-radius: 15px;
}
.currently-selected-meal-div h3 {
  margin-left: 10px;
  margin-right: 10px;
}

.add-meal-flex-card {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  margin: 10px;
  height: 200px;
  width: 400px;
  border-radius: 20px;
}

.add-meal-flex-card:hover {
  box-shadow: black 5px 2px 20px;
}
.add-meal-flex-card h4 {
  margin-left: 15px;
}
.add-meal-flex-card span {
  margin-left: 20px;
  margin-top: 10px;
  /* margin-bottom: 5px; */
}
.add-meal-flex-card :last-child {
  margin-bottom: 10px;
}

.grid-container-add-meal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}
.final-add-card {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 170px;
  margin-left: 15px;
  border-radius: 20px;
}
.final-add-card h3 {
  margin-left: 10px;
}
.final-add-card span {
  margin-left: 15px;
  margin-top: 5px;
}
.submit-button {
  background-color: coral;
}

.serving-size-div {
  width: 500px;
  /* border: 1px solid black; */
}
.food-selected {
  width: 500px;
  /* border: 1px solid black; */
}
.finalized-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-gap: 69px;
}
