.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container .add_workout{
    background-color: black;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.button_container .add_workout .button_text{
    color: white;
}

.button_container .add_workout link{
    text-decoration: none;
}

.recentExercises{
    display: flex;
}