.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container .add_workout{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.recentExercises{
    display: flex;
}