@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* *{
    font-family: 'Roboto', sans-serif;
} */
.addForm_Container{
    background-color: white;
    padding: 2em;
}

.exInputFieldsContainer{
    display: flex;
}
.exInputFieldsContainer .exerSelect,
.exInputFieldsContainer .reps,
.exInputFieldsContainer .sets,
.exInputFieldsContainer .distance{
    margin-right: 2em;
}

#addExercise{
    background-color: black;
    color: white;
}
#Add-Workout {
    padding-left: 40%;
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
}
